infra/docker/shared-logs/

# uv environment
.venv/

# Python cache/artifacts
__pycache__/
*.py[cod]
*$py.class

# Jupyter artifacts
.ipynb_checkpoints/

# Optional local env/tooling
.env
*.env

# Ignore datasets (if you want to keep them out of git)
data/raw/olist/*
!data/raw/.gitkeep