# Olist Data Pipeline Analytics: Minio + Spark + Iceberg
# https://iceberg.apache.org/docs/latest/
# https://hadoop.apache.org/docs/stable/hadoop-aws/
name: olist-modern-analytics-stack

services:
  # 1. Minio (S3 Compatible Storage) - if hardcore switch to Ceph or S3
  minio:
    # https://github.com/minio/minio
    # https://docs.min.io/enterprise/aistor-object-store/reference/aistor-server/settings/root-credentials/
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # MinIO Console

  # 2. Minio Client (mc) - optional, for easier Minio management
  mc:
    # https://hub.docker.com/r/minio/mc
    # tail -f /dev/null - to keep the container running
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z-cpuv1
    container_name: minio-mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until mc alias set local http://minio:9000 minioadmin minioadmin; do sleep 1; done;
      mc mb -p local/warehouse;
      mc mb -p local/raw;
      mc mb -p local/staging;
      tail -f /dev/null
      "
  
  # 3. 


networks:
  default:
    external: true
    name: data-pipeline-net

volumes:
  minio_data: